
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.legendtext {
    font-family: "Verdana";
    font-size: 10px;
}
.axis {
  font-family: "Verdana";
  font-size: 10px;
  shape-rendering: crispEdges;
  }

.ylabel {
    font-family: "Verdana";
}

.chart-title {
    font-family: "Verdana";
}

.annotation {
    font-family: "Verdana";
    font-size:16px;
}
/*
path.line:hover {
   stroke-width: 3.0px;
 }
*/
path.line {
   fill: none;
   stroke: #666;
   stroke-width: 1.5px;
 }

 path.area {
   fill: #e7e7e7;
 }

 .grid line {
   stroke: lightgrey;
   stroke-opacity: 0.7;
   shape-rendering: crispEdges;
 }

 .grid path {
   stroke-width: 0;
 }

.lineHolder {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #000000;
  stroke-width: 1px;
}
.focus text {
    font-family: "Verdana";
    font-size:12px;
    fill: purple;
}

.hover-line {
  stroke: #000000;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}
// PUT ALL OF YOUR STYLES HERE IN THE SCSS FILE AND NO WHERE ELSE!!!!
