
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.axis {
  font-family: "Verdana";
  font-size: 10px;
  }

path.line:hover {
   stroke-width: 3.0px;
 }

 path.line {
   fill: none;
   stroke: #666;
   stroke-width: 1.5px;
 }

 path.area {
   fill: #e7e7e7;
 }
 
 .grid line {
   stroke: lightgrey;
   stroke-opacity: 0.7;
   shape-rendering: crispEdges;
 }

 .grid path {
   stroke-width: 0;
 }

 .axis {
   shape-rendering: crispEdges;
 }
// PUT ALL OF YOUR STYLES HERE IN THE SCSS FILE AND NO WHERE ELSE!!!!
