body {
  align-items: center;
  display: flex;
  flex-direction: column; }

.legendtext {
  font-family: "Verdana";
  font-size: 14px;
  text-align: center; }

.axis {
  font-family: "Verdana";
  font-size: 12px;
  shape-rendering: crispEdges; }

.ylabel {
  font-family: "Verdana";
  font-size: 16px; }

.chart-title {
  font-family: "Verdana"; }

.annotation {
  font-family: "Verdana";
  font-size: 16px; }

#annoSpecial {
  font-family: "Verdana";
  font-size: 14px; }

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 4px; }

path.area {
  fill: #e7e7e7; }

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges; }

.grid path {
  stroke-width: 0; }

.lineHolder {
  fill: none;
  pointer-events: all; }

.tooltip circle {
  fill: #F1F3F3;
  stroke: #000000;
  stroke-width: 1px; }

.tooltip text {
  font-family: "Verdana";
  font-size: 12px;
  fill: black;
  background: '#BCC5F7'; }

.button-text {
  font-family: "Verdana";
  font-size: 14px;
  fill: black; }

.button-text:hover {
  font-family: "Verdana";
  font-size: 14px;
  text-decoration: underline;
  background-color: yellow;
  fill: purple;
  font-weight: bold; }

.hover-line {
  stroke: #000000;
  stroke-width: 1px;
  stroke-dasharray: 3,3; }

.captioning {
  font-family: "Verdana";
  font-size: 12px;
  fill: black; }
